@model Book_Store.ViewModel.ThankyouViewModel

@{
    ViewBag.Title = "Thankyou";
}

<h2>Thankyou @Model.CustomerName</h2>
Your <strong>order id  @Model.OrderId </strong>.
Shpping Address: <strong>@Model.ShippingAddress</strong>

