@model IEnumerable<Book_Store.Models.Book>
@{
    ViewBag.Title = "Books";
    ViewData.Add("controllerName", "BookCategory");
    ViewData.Add("actionName", "ViewCategory");
    
}

<h1>@ViewBag.CategoryName'Books</h1>

@foreach (var item in Model)
{
    <div class="col-md-3">
        @Html.Partial("~/Views/Shared/BookTemplatePartial.cshtml", item, ViewData)
    </div>
}